body {
	background-image: url(../image/main_back.png);
	padding: 0 !important;
}
li {
	list-style: none;
}
.my-nav {
	border-radius: 0 !important;
	box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}
@media screen and (max-width: 991px) {
	body {
		font-size: 10px !important;
	}
}
body {
	background-image: url(../image/main_back.png);
	padding: 0 !important;
}
li {
	list-style: none;
}
.my-nav {
	border-radius: 0 !important;
	box-shadow: 0 4px 8px rgba(0,0,0,0.3);
	margin: 0 !important;
}
@media screen and (max-width: 991px) {
	body {
		font-size: 10px !important;
	}
	.my-margin-control {
		margin: 0 60px!important;
	}
}
.my-header {
	margin-right: 10px;
}
.my-margin-control {
	margin: 0 140px !important;
}
@media screen and (max-width: 749px) {
	.my-margin-control {
		margin: 0 10px !important;
	}
}
.my-nav-bottom-body {
	padding: 0 !important;
	height: 40px
}
.my-nav-bottom-block div{
	position: relative;
	float: left;
	border: 1px solid #ddd;
	border-bottom: none;
	width: 70px;
	text-align: center;
	height: 40px;
	line-height: 40px;
	font-size: 13px;
	font-weight: 700;
}
.my-nav-bottom-block div:hover {
	background-color: #ddd;
}
.my-nav-bottom-block-active::after {
	content: "";
	position: absolute;
	bottom: -13%;
	left: 50%;
	transform: translateX(-50%) rotate(45deg);
	width: 12px;
	height: 12px;
	border: 1px solid #dddddd;
	background-color: #dddddd;
}
.my-nav-bottom-block-active {
	background-color: #dddddd;
	color: deepskyblue;
}