.my-big-main {
	padding-left: 2em;
	padding-right: 2em;
}
.main {
	background-image: url(../image/main.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	color: white !important;
}
.primary {
	margin-right: 0 !important;
	margin-left: 0 !important;
}
@keyframes welcome{
	0% {
		width: 0px;
	}
	100% {
		width: 100%;
	}
	
}
.welcome {
	white-space: nowrap;
	transition: all 3s;
	overflow: hidden;
	animation: welcome 3s;
	animation-fill-mode: forwards;
	animation-timing-function: steps(18);
}
/* .title {
	display: block;
	width: 0;
	white-space: nowrap;
	transition: all 3s;
	animation: welcome 3s;
	animation-timing-function: steps(36);
	animation-delay: 3s;
	animation-fill-mode: forwards;
} */
.primary-content {
	border: 1px solid #CCCCCC;
	border-top: none;
	padding: 0 !important;
	/* box-shadow:1px 1px 1px 1px #9d9d9d; */
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	background-color: white;
}
.primary-content-title {
	height: 50px;
	background-color: white;
	font-size: 22px;
	line-height: 50px;
	padding-left: 1em;
	border: 1px solid #CCCCCC;
	border-bottom: none;
	/* box-shadow:1px 1px 1px 1px #9d9d9d; */
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.content {
	overflow: hidden;
}
.content-cart {
	border-left: 0 !important;
	border-right: 0 !important;
	margin-bottom: 0 !important;
	border-bottom: 0 !important;
}
.content-title {
	border-top-left-radius: 0 !important;
	border-top-right-radius: 0 !important;
	font-size: 18px;
	font-weight: 700;
}
.blog-content {
	 text-overflow: -o-ellipsis-lastline;
	  overflow: hidden;
	  text-overflow: ellipsis;
	  display: -webkit-box;
	  -webkit-line-clamp: 6;
	  line-clamp: 6;
	  -webkit-box-orient: vertical;
	line-height: 26px;
	color: #5e5e5e;
	font-size: 13px;
}
/* @media screen and (max-width: 991px) {
	.content-side {
		display: none;
	}
} */
.blog-content img {
	height: 100%;
}
.my-image {
	padding: 0 !important;
	border-radius: 10px !important;
	overflow: hidden;
}
.publish-date {
	position: relative;
	display: block;
	/*margin-top: 10px;*/
	color: #3c3c3c;
}
/* .primary_col {
	padding-right: 3em !important;
} */
.content-side {
	padding-left: 2em !important;
}
/*.my-date {
	position: absolute;
	right: 85%;
}
.my-see_num {
	position: absolute;
	right: 78%;
}*/
.my-mark {
	/*position: absolute;*/
	/*right: 38%;*/
	border: 2px solid deepskyblue;
	color: deepskyblue;
	width: 3em;
	text-align: center;
	font-size: 11px;
	border-radius: 7px;
}
.my-recommend-body {
	padding: 0 !important;
}
.my-recommend-body a:first-child {
	border-radius: 0 !important;
	border-top: none !important;
}
.my-care-me {
	position: relative;
	font-weight: 700;
	font-size: 20px;
	margin-top: 2em;
	border-top: 1px solid #CCCCCC;
	padding-top: 3em;
}
.my-care-me p {
	position: absolute;
	top: -1em;
	left: 50%;
	transform: translateX(-50%);
	background-image: url(../image/main_back.png);
	width: 5em;
	z-index: 1;
	text-align: center;
}
.my-care-div{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

